<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
		<link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
		<link rel="stylesheet" href="{{ asset('css/style.css') }}"> {% block stylesheets %}{% endblock %}
		</head>
		<body class="m-0">
			<div class="container">
				<div class="d-flex justify-content-between mt-5">
					<h1>JOB-IT</h1>
					<button type="button" class="btn btn-secondary">
						<a href="#">Poster un Job</a>
					</button>
				</div>
				<form action="#" method="get">
					<input type="search" name="search" id="search" class="mb-5" placeholder="Développeur ...">
				</form>
				{% block body %}{% endblock %}
			</div>
			{% block javascripts %}{% endblock %}
		</body>
	</html>
